---
type Props = {
    href?: string;
    className?: string;
    target?: string;
    rel?: string;
};

const { href, className, target, rel } = Astro.props;
---

<a
    href={href}
    target={target}
    rel={rel}
    class={`rounded-lg bg-secondary px-4 py-1 font-bold text-black ${className}`}
>
    <slot />
</a>
